.slide-controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50%;
  overflow: hidden;
  border: 1px solid lightgrey;
  border-radius: 15px;
  margin-top: 80px;
}

.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controls label.signup {
  color: #000;
}

.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  /* background: -webkit-linear-gradient(left,#003366,#004080,#0059b3
, #0073e6); */
  background: var(--pri);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
  display: none;
}

#signup:checked~.slider-tab {
  left: 50%;
}

#signup:checked~label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}

#signup:checked~label.login {
  color: #000;
}

#login:checked~label.signup {
  color: #000;
}

#login:checked~label.login {
  cursor: default;
  user-select: none;
}


.product__specs_head_div1 table {
  height: 100% !important;

}
.tech_data_box{
display: flex !important;
align-items: center ;
justify-content: center;
width: 100%;

}
.product__specs_head_div1 .table_rs1 
  /* height: fit-content !important; */



/* .product__spec__section_rs1{
  border: 1px solid red;
  min-height: 800px;
} */
.product__head__div1 img {
  height: 500px !important;
  object-fit: cover !important;
  width: 100%;

}

.table-head {
  background-color: var(--pri);
  color: #fff;
  padding: 10px;
}

.product__specs__head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: center; */
  column-gap: 20px;

  .product__specs_head_div2 {
    display: flex;
    flex-direction: column;
  }

  .product__specs_head_div2_child1 {
    height: 220px;
  }

  .product__specs_head_div2_child1_rs1 {
    height: auto;
  }

  .product__specs_head_div2_child2 {
    height: 220px;
  }
}

.product__layout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;

}

@media screen and (max-width: 900px) {
  .product__specs__head {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }

  .product__specs_head_div2 {
    row-gap: 30px;
  }

  .slide-controls {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .product__head {
    row-gap: 50px;
  }

  .product__layout__section {
    margin-top: 80px;
  }
}

@media screen and (max-width: 700px) {
  .product__layout__section {
    margin-top: 100px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 500px) {
  .product__specs_head_div2 {
    row-gap: 70px;
  }
}