.Mainsection_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 50px;
    margin-top: 180px;


}

.blog_card {
    height: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    border-radius: 10px;

    &:hover {
        .blog_img_box {

            img {
                scale: 1.1;
                transform: rotate(3deg);
            }
        }
    }
}

.blog_img_box {
    height: 80%;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: .5s ease-in-out;

    }
}

.blog_content {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--sec);
    color: #fff;

    p {
        margin: 0;
    }
}