.timeline__div__head__content__text {
  font-size: 17px;
  /* border: 1px solid red; */
}


.owl-carousel-wrapper {
  width: 100%;
  /* margin:5% ; */
  margin-bottom: 5%;
  /* text-align: center; */
}

.owl-nav-hash a {
  color: #007bff;
  text-decoration: none;
  font-weight: 400;
  margin-right: 20px;

}


.owl-nav-hash a:hover,
.owl-nav-hash a:focus,
.owl-nav-hash a.active {
  color: var(--sec) !important;
}

.owl-nav-hash {
  /* width: 80%; */
  margin: 0 auto !important;
  font-size: 23px;
  /* border: 1px solid red; */
}

.owl-carousel-wrapper {
  img {
    /* border: 1px solid red; */
    height: 400px;
    width: 100%;
    margin-bottom: 3%;
    object-fit: contain;
    /* border: 1px solid red; */

  }

  /* border: 1px solid red; */

}


@media(width<=800px){
  .owl-nav-hash {
    font-size: 18px;
  }
  
}




/* .company__history__title h2 {
  color: var(--sec);
  font-weight: 600;
}

.company__history__title p {
  color: var(--trd);
}




.timeline__head {
  position: relative;
}

.section__123 {
  margin-top: 600px;
}


.timeline__head::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: var(--trd);
  top: 0px;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}


.timeline__div {
  position: relative;
  background-color: inherit;
  width: 50%;
}


.timeline__div::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: var(--pri);
  top: 30px;
  border-radius: 50%;
  z-index: 1;
  display: none;
}








.timeline__div__head {
  position: relative;
  background-color: inherit;
}



.timeline__div__left1 {
  left: 50%;
}


.right {
  left: -120%;
}

.timeline__div__content1 {
  grid-template-columns: 1fr 3fr;
}

.timeline__div__content2 {
  grid-template-columns: 1fr auto;

}

.timeline__div__content3 {
  grid-template-columns: 1fr auto;
}

.timeline__div__content4 {
  grid-template-columns: 1fr auto;
}

.timeline__div__content5 {
  grid-template-columns: 1fr auto;
}

.timeline__div__content6 {
  grid-template-columns: 1fr auto;
}

.timeline__div__content7 {
  grid-template-columns: 1fr auto;
}

.timeline__div__content8 {
  grid-template-columns: 1fr auto;
}

.timeline__div__content9 {
  grid-template-columns: 1fr auto;
}

.timeline__div__content10 {
  grid-template-columns: 1fr auto;
}

.timeline__div__content11 {
  grid-template-columns: 1fr auto;
}

.timeline__div__content12 {
  grid-template-columns: 1fr auto;
}

.timeline__div__head__span {
  font-size: 20px;
}


.timeline__div__head__content {
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  padding: 20px 30px;
  background-color: var(--pri);
  position: relative;
  border-radius: 6px;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 2;
  margin-bottom: 40px;
  width: 1000px;
}

.timeline__div__head__content::before {
  content: " ";
  height: 10;
  position: absolute;
  top: -15px;
  right: 664px;
  width: 10;
  z-index: 1;
  transform: rotate(269deg);
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #000;
}

.timeline__div__head__content::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -30px;
  right: 660px;
  background-color: var(--pri);
  border-radius: 50%;
}

.timeline__div__head__content1::before {
  content: " ";
  height: 10;
  position: absolute;
  top: -15px;
  right: 319px;
  width: 10;
  z-index: 1;
  transform: rotate(269deg);
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #000;
}

.timeline__div__head__content1::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -30px;
  right: 314px;
  background-color: var(--pri);
  border-radius: 50%;
}

.timeline__div__head__content h2 {
  padding: 0px 15px 0px 0px;
}

.timeline__div__head__content .kerstbal-container .kerstbal {
  padding: 0px 20px;
}

.timeline__div__head__content1 img {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  z-index: 2;
}

.timeline__div__head__content img {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  z-index: 2;
}

.timeline__div__head__content1 {
  display: grid;
  align-items: center;
  column-gap: 15px;
  padding: 20px 30px;
  background-color: var(--sec);
  position: relative;
  border-radius: 6px;
  z-index: 100;
  width: 1000px;
  margin-bottom: 40px;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.5);
}

.timeline__div__head__content .timeline__div__head__content__text {
  color: #fff !important;

  h4 {
    color: #000;
  }
}

.timeline__div__head__content1 .timeline__div__head__content__text {
  color: #fff !important;
  

  h4 {
    color: #000;
  }
}


.timeline__left {
  padding: 0px 40px 20px 0px;
  left: 0;
}

.timeline__right {
  padding: 0px 0px 20px 40px;
  left: 50%;
}


@media screen and (max-width: 1400px) {
  .timeline__div__head__content {
    width: 850px;
  }

  .timeline__div__head__content1 {
    width: 850px;
  }

  .timeline__div__left1 {
    left: 30%;
  }

  .right {
    left: -80%;
  }

  .timeline__div__head__content::after {
    right: 451px;
  }

  .timeline__div__head__content::before {
    right: 455px;
  }

  .timeline__div__head__content1::after {
    right: 479px;
  }

  .timeline__div__head__content1::before {
    right: 483px;
  }
}

@media screen and (max-width: 1200px) {
  .timeline__div__left1 {
    left: 15%;
  }

  .right {
    left: -98%;
  }
}

@media screen and (max-width: 990px) {
  .timeline__div__head__content {
    width: 650px;
   
  }

  .timeline__div__head__content1 {
    width: 650px;
   
  }

  .timeline__div__left1 {
    left: 10%;
  }

  .right {
    left: -130%;
  }

  .timeline__div__head__content::after {
    right: 337px;
  }

  .timeline__div__head__content::before {
    right: 342px;
  }

  .timeline__div__head__content1::after {
    right: 294px;
  }

  .timeline__div__head__content1::before {
    right: 299px;
  }
}

@media screen and (max-width: 750px) {

  .timeline__div__head__content img,
  .timeline__div__head__content1 img {
    margin: 10px 0px;
  }

  .timeline__head::after {
    left: 31px;
  }

  .timeline__left::after,
  .timeline__right::after {
    left: 18px;
  }

  .timeline__left::before {
    right: auto;
  }

  .timeline__right {
    left: 0%;
  }




  .timeline__div__head__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 400px;
  }

  .timeline__div__head__content1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 400px;
  }

  .timeline__div__head__content::after {
    display: none;
  }

  .timeline__div__head__content1::after {
    display: none;
  }

  .timeline__div__head__content::before {
    display: none;
  }

  .timeline__div__head__content1::before {
    display: none;
  }



  .timeline::after {
    left: 31px;
  }



  .timeline__div__left1::after,
  .right::after {
    left: 8px;
  }

  .timeline__div__left1 {
    left: 20%;
  }

  .right {
    left: 3%;
  }

  .timeline__div::after {
    display: block;
  }

  .timeline__empty {
    display: none;
  }

  .timeline__div__head__content1::before {
    display: block;
    top: 32px;
    right: 399px;
    width: 10;
    z-index: 1;
    transform: rotate(181deg);
  }

  .timeline__div__head__content::before {
    display: block;
    top: 32px;
    right: 399px;
    z-index: 1;
    transform: rotate(181deg);
  }
}



@media screen and (max-width: 500px) {


  .timeline__div__head__content1 {
    width: 350px;

  }

  .timeline__div__head__content {
    width: 350px;

  }

  .timeline__div__head__content1 img {
    width: 300px;

  }

  .timeline__div__head__content img {
    width: 300px;

  }

  .timeline__div__left1 {
    left: 23%;
  }

  .timeline__div__head__content1::before {
    display: block;
    content: " ";
    height: 10;
    position: absolute;
    top: 32px;
    left: -9px;
    width: 10;
    z-index: 1;
    transform: rotate(181deg);
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #000;
  }

  .timeline__div__head__content::before {
    display: block;
    content: " ";
    height: 10;
    position: absolute;
    top: 32px;
    left: -9px;
    width: 10;
    z-index: 1;
    transform: rotate(181deg);
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #000;
  }
}

@media screen and (max-width: 440px) {

  .timeline__div__head__content1 {
    width: 260px;

  }

  .timeline__div__head__content {
    width: 260px;

  }

  .timeline__div__head__content1 img {
    width: 100% !important;
    height: 100% !important;

  }

  .timeline__div__head__content img {
    width: 100% !important;
    height: 100% !important;

  }
}

@media screen and (max-width: 400px) {


  .timeline__div__left1 {
    left: 30%;
  }
}





 */