.slider_box {
  position: relative;
  margin-top: 150px;

}
.slick-slider img{
  width: 100%;
}
.slick-dots > li > button::before {
  font-size: 20px !important;
}
.slick-dots li.slick-active button::before {
  color: var(--pri);
}
.red_line {
  background: var(--pri);
  display: block;
  content: "";
  width: 100%;
  height: 0.25rem;
  position: absolute;
  left: 100%;
  bottom: 5px;
  z-index: 99;
  transform-origin: left 50%;
  animation: progress 6s ease-in-out infinite forwards;
}
@keyframes progress {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
