/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

:root {
  --pri: #0e90cd;
  --sec: #17bfb1;
  --trd: #757575;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
body {
  /* font-family: "DM Sans", sans-serif !important; */
  font-family: "Josefin Sans", sans-serif !important;
  /* font-family: "Poppins", sans-serif !important; */
  position: relative;
  overflow: hidden;

}
html {
  overflow-x: hidden;
}
/*! Color  */
.text_pri {
  color: var(--pri);
}
.text_sec {
  color: var(--sec);
}
.para {
  color: var(--trd);
}

/*! Titles */
.main_text {
  font-size: clamp(25px, 4vw, 45px);
  font-weight: 700;
  margin-bottom: 15px;
}
.sub_text {
  font-size: clamp(20px, 3vw, 35px);
  font-weight: 700;
  margin-bottom: 10px;
}
.mini_text {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 700;
  margin-bottom: 10px;
}

/*! button */
.btns {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  margin: 15px 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.btns:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btns:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btns:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--pri);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btns:hover {
  color: #ffffff;
  border: 1px solid var(--pri);
}

.btns:hover:before {
  top: -35%;
  background-color: var(--pri);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btns:hover:after {
  top: -45%;
  background-color: var(--pri);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none !important;
  color: black !important;
  font-weight: bold;
  cursor: pointer;
}
.banner_sec_bx {
  height: 200px;
  background-color: var(--sec);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  animation: loading 1s 1;
  visibility: hidden;
}
@keyframes loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
