.super_text_bx {
  margin: 50px 0;
  .img_bx {
    box-shadow: -5px 7px 9px grey;
  }
}
.title_text {
  font-size: 1.5rem;
  font-weight: 700;
}
.pro_bx{
img {
  border-radius: 10px;
  width: 100%;
  height: 60%;
}
}
.spare_box_container{
  display: flex;
  align-items: center;
  border: 1px solid red;
  gap: 5%;
}
.spar_box1{
  flex-basis: 60%;
}
.spar_box2{
  flex-basis: 40%;
}
.style_para{
  font-size: 40px;
  color: rgb(140, 141, 141);
  
}

.spares_img_box img{
  height: 300px;
  width: 100%;
  object-fit: cover;
}

